{
    "singleQuote": true,
    "printWidth": 120,
    "overrides": [
        {
            "files": [
                "*.css",
                "*.scss",
                "*.html"
            ],
            "options": {
                "singleQuote": false,
                "printWidth": 150
            }
        }
    ],
    "semi": false,
    "bracketSpacing": true,
    "tabWidth": 4,
    "arrowParens": "avoid"
}
