.step-line {
    background: #e0e0e0;
    height: 2px;
    width: 55vw;
    position: absolute;
    margin-top: 29px;
    z-index: 1;
}
.nav-pills.custom li {
    background: transparent;
    margin: 0 65px;
    z-index: 2;
}
.nav-link.active.custom {
    background-color: transparent;
    color: #fff;
}
.nav-link.custom {
    color: #6c757d;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 12vw;
}
.nav-link.custom span.icon {
    background: #212529;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
    width: 46px;
    height: 46px;
    margin: 0 auto;
    padding-left: 13px;
    color: #343a40;
}
.nav-link.custom.active span.icon {
    background-color: #212529;
    color: #fff;
}
.nav-link.custom i {
    font-size: 28px;
}
.tab-content.custom {
    display: flex;
    justify-content: center;
}
.tab-content.custom .tab-pane {
    width: 50vw;
}
@media screen and (min-width: 840px) {
    .tab-content.custom .tab-pane {
        width: 40vw;
    }
}
