<nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-dark" id="sidenavAccordion">
    <!-- Sidenav Toggle Button-->
    <button (click)="toggleSidebar()" class="btn btn-icon btn-transparent-dark order-1 order-lg-0 me-2 ms-lg-2 me-lg-0" id="sidebarToggle">
        <i class="fa-sharp fa-solid fa-bars"></i>
    </button>
    <!-- Navbar Brand-->
    <a class="navbar-brand pe-3 ps-4 ps-lg-2" routerLink="/"><img alt="logo" src="assets/img/logo-admin.png" width="75%" /></a>
    <!-- Navbar Items-->
    <ul class="navbar-nav align-items-center ms-auto">
        <!-- User Dropdown-->
        <li class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4">
            <a
                (click)="toggleLogin = !toggleLogin"
                [ngClass]="!toggleLogin ? 'collapsed' : ''"
                class="btn btn-icon btn-transparent-dark dropdown-toggle"
                id="navbarDropdownUserImage"
                role="button"
            >
                <img alt="profile" class="img-fluid" src="assets/img/illustrations/profiles/profile-2.png" />
            </a>
            <div [ngClass]="toggleLogin ? 'show' : ''" class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up bg-dark">
                <h6 class="dropdown-header d-flex align-items-center">
                    <img alt="profile" class="dropdown-user-img" src="assets/img/illustrations/profiles/profile-2.png" />
                    <div class="dropdown-user-details">
                        <div class="dropdown-user-details-name">{{ user.username | titlecase }}</div>
                    </div>
                </h6>
                <div class="dropdown-divider"></div>
                <a (click)="exit()" class="dropdown-item" href="javascript:void(0);">
                    <i class="fa-sharp fa-regular fa-right-from-bracket text-secondary-emphasis"></i>
                    Logout
                </a>
            </div>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sidenav shadow-right sidenav-dark">
            <div class="sidenav-menu">
                <div class="nav accordion" id="accordionSidenav">
                    <a class="nav-link mt-4" routerLink="/">
                        <div class="nav-link-icon"><i class="fa-duotone fa-gauge"></i></div>
                        Home
                    </a>
                    <!-- Sidenav Accordion (Dashboard)-->
                    <a (click)="toggleCustomer = !toggleCustomer" [ngClass]="!toggleCustomer ? 'collapsed' : ''" class="nav-link">
                        <div class="nav-link-icon"><i class="fa-sharp fa-regular fa-users"></i></div>
                        Clientes
                        <div class="sidenav-collapse-arrow">
                            <i class="fas fa-angle-down"></i>
                        </div>
                    </a>
                    <div [ngClass]="toggleCustomer ? 'show' : ''" class="collapse">
                        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                            <a class="nav-link" routerLink="/customer/create" routerLinkActive="active">Crear</a>
                            <a class="nav-link" routerLink="/customer/list" routerLinkActive="active">Lista</a>
                        </nav>
                    </div>
                    <a (click)="toggleReparation = !toggleReparation" [ngClass]="!toggleReparation ? 'collapsed' : ''" class="nav-link">
                        <div class="nav-link-icon"><i class="fa-sharp fa-regular fa-wrench"></i></div>
                        Reparaciones
                        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div [ngClass]="toggleReparation ? 'show' : ''" class="collapse">
                        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages2">
                            <a class="nav-link" routerLink="/reparation/create" routerLinkActive="active">Crear</a>
                            <a class="nav-link" routerLink="/reparation/list" routerLinkActive="active">Lista</a>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Sidenav Footer-->
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main class="my-5">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>
