.overlay-spinner {
    position: absolute;
    left: 0;
    bottom: 0%;
    top: 0%;
    width: 100%;
    display: block;
    background: #2a2a2a55;
    color: #fff;
    text-align: center;
    padding-top: 20%;
    z-index: 1000;
}
