<img *ngIf="status === Status.RECIBIDO" alt="icon" class="img-fluid" src="assets/img/iconStatus/arrows-rotate.png" />
<img *ngIf="status === Status.PRESUPUESTADO" alt="icon" class="img-fluid" src="assets/img/iconStatus/file-check.png" />
<img *ngIf="status === Status.SIN_ARREGLO" alt="icon" class="img-fluid" src="assets/img/iconStatus/face-eyes-xmarks.png" />
<img *ngIf="status === Status.ACEPTADO" alt="icon" class="img-fluid" src="assets/img/iconStatus/thumbs-up.png" />
<img *ngIf="status === Status.RECHAZADO" alt="icon" class="img-fluid" src="assets/img/iconStatus/thumbs-down.png" />
<img *ngIf="status === Status.PRONTO" alt="icon" class="img-fluid" src="assets/img/iconStatus/circle-check.png" />
