<div class="card rounded-0 mx-5">
    <div class="card-header fw-bold">Crear cliente</div>
    <div class="card-body">
        <form>
            <div class="form-floating mb-3">
                <input class="form-control rounded-0" id="customer-name" type="text" />
                <label for="customer-name">Nombre</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control rounded-0" id="customer-document" type="text" />
                <label for="customer-document">Documento</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control rounded-0" id="customer-tel" type="text" />
                <label for="customer-tel">Teléfono</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control rounded-0" id="customer-email" type="email" />
                <label for="customer-email">Email</label>
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-primary rounded-0 fw-bold" type="button"><i class="fa-duotone fa-floppy-disk me-2"></i>Crear</button>
            </div>
        </form>
    </div>
</div>
